# CONFIGURAÇÃO DE CHAVES DE ACESSO ÀS IAs  #
############################################

# OPENAI_API_KEY
# ------------------------------------------------------------
# Define a chave de API da OpenAI para uso com ChatGPT.
# Necessária apenas quando o modo de geração estiver como "chatgpt".
# Crie sua chave aqui: https://platform.openai.com/account/api-keys
# Exemplo:
# OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENAI_API_KEY={{OPENAI_API_KEY}}

# CHATGPT_API_URL
# ------------------------------------------------------------
# Define a URL base da API do ChatGPT.
# O padrão da OpenAI geralmente é: https://api.openai.com/v1
CHATGPT_API_URL={{CHATGPT_API_URL}}


# GEMINI_API_KEY
# ------------------------------------------------------------
# Define a chave de API do Gemini (Google) para uso da IA Gemini.
# Necessária apenas quando o modo estiver como "gemini".
# Crie sua chave em: https://makersuite.google.com/app/apikey
# Exemplo:
# GEMINI_API_KEY=AIzaSyDxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GEMINI_API_KEY={{GEMINI_API_KEY}}

# GEMINI_API_URL
# ------------------------------------------------------------
# URL da API Gemini. Exemplo: https://generativelanguage.googleapis.com/v1beta/models
GEMINI_API_URL={{GEMINI_API_URL}}

